.sss {
	height: 0;
	margin: 0; 
	padding: 0;
	position: relative;
	display: block;
	overflow: hidden;
}

.ssslide {
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
}

/*.ssslide img {
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
}*/

.sssnext, .sssprev {
	width: 25px;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	/* background: url('images/arr.png') no-repeat;  */
}

.sssprev {
		width: 50px;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 40%;
	bottom: 50%;
	left: 3%;
	background-position: 0 0%;
		background: url('images/flecha_izquierda.png') no-repeat;

}

.sssnext {
		width: 50px;
	height: 100%;
	margin: 0;
	position: absolute;
		top: 40%;
	bottom: 50%;
	right: 3%;
	background-position: -26px 0%;
		background: url('images/flecha_derecha.png') no-repeat;

}

.sssprev:hover, .sssnext:hover {
	cursor: pointer;
}




.title
{
	width: 100%;
    display: block;
    padding: 20px 0 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.background
{
	background-color: transparent; width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}

.text
{
	padding: 0 10px;
    font-weight: 300;
    z-index: 2;
    position: relative;
    letter-spacing: 1;
    line-height: 1.4em;
}
